src/Zinc.Transforms/ZnServices-Validation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="urn:zinc/validation"
    xmlns:zn="urn:zinc/validation">

    <xsd:attribute name="rule" type="xsd:string" />

    <xsd:simpleType name="dataName">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z].*" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="length">
        <xsd:complexType>
            <xsd:attribute name="min" type="xsd:positiveInteger" />
            <xsd:attribute name="max" type="xsd:positiveInteger" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
